html {
    display: block;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: 'Gugi', cursive;
    font-size: 35px;
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    background: transparent;
    border: 0;
}

header a {
    color: white;
    text-decoration: none;
}

.topnav {
    background-color: rgb(0, 0, 0, 0.6);
    /* border-width: 1px;
    border-color: white;
    border-style: groove; */
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.topnav a, .topnav button {
    float: left;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-family: 'Gugi', cursive;
    font-size: 26px;
    color: white;
    border: none;
    background: transparent;
    background-color: none;
    outline: none;
    cursor: pointer;
}

.topnav a:hover, .topnav button:hover, .topnav button:focus {
    background-color: rgb(120, 110, 40);
    text-decoration: underline white;
}

.topnav a.active, .topnav button.active {
    background-color: white;
}

.dropdown {
    float: left;

}

.dropdown .drop3 {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 20px 70px;
    color: white;
    background-color: inherit;
    width: 250px;
}

.policy-content {
    display: none;
    position: absolute;
    margin-top: 73px;
    background-color: rgb(0, 0, 0, 0.6);
    min-width: 250px;
    box-shadow:  rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.policy-content a {
    float: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

.spacer {
    height: 1600px;
    width: 300px;
    background-color: rgb(128, 128, 128, 0.4);
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255, 0.5);
    font-size: 26px;
    margin-left: 25px;
    margin-top: 25px;
}

.stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyDrop {
    position: fixed;
    top: 0;
    width: inherit;
}

.stickyFooter {
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 0;
    flex-shrink: 0;
    padding: 6px;
    font-size: 22px;
    margin-left: -10px;
    color: white;
    font-family: 'Gugi', cursive;
}

footer p {
    float: right;
    margin-right: 20px;
    margin-top: 6px;
}

.fa {
    padding: 10px;
    font-size: 16px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    float: left;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

/* .borderTop {
    position: fixed;
    left: 40%;
    top: 30%;
    border-top: 15px;
    border-bottom: 0px;
    border-right: 15px;
    border-left: 15px;
    border-style: solid;
    border-color: rgb(150, 140, 75);
    width: 400px;
    height: 150px;
}

.borderBottom {
    position: fixed;
    left: 40%;
    top: 60%;
    border-top: 0px;
    border-bottom: 15px;
    border-right: 15px;
    border-left: 15px;
    border-style: solid;
    border-color: rgb(150, 140, 75);
    width: 400px;
    height: 150px;
    
}

.main {
    position: fixed;
    left: 38%;
    top: 46%;
} */

/* th {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    color: white;
}

td {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 14px;
    
    color: white;
} */